/tmp/
/.air.toml
/deploy/.air.toml
/deploy/tmp/
/assets/template/uploads/
/internal/config.yml
app.local.toml
/.env.*
/.env
.idea/
.vscode/
.lingma/
/logs/
/test/config/*.toml
/test/**/*.log
test/generated/request/
/test/generated/repository/
web/resources/templates/
test/casbin/logs
/deploy/build/
/deploy/conf/
/deploy/http/
/deploy/logs/
/sql/
.DS_Store
.system.yaml
/command/deployment/build/
/command/deployment/conf/
/test/ip2region/ip2region_v4.xdb
/test/ip2region/ip2region_v6.xdb
/test/pcap/14.pcap
